.calendarTable {
	border-collapse: separate;
	width: 100%;
	height: 100%;
}

.titleMonth, .weekTitle {
	font-family: Gill, Helvetica, sans-serif;
	font-size: 15px;
	color: #333333;
	font-weight: bold;
}

#calendarTable td, #calendarTable th {
    height: 50px;
    width: 200px;
	min-width: 80px;
	font-family: Gill, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid #666666;
	border-radius: 7px;
}

#calendarTable th {
	background-color: #F5F5F5;
	color: #333333;
}

.enabled {
	background-color: #98FB98;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
	padding-left: 10px;
	color: #333333;
	cursor: pointer;
}

.disabled {
	background-color: #CCCCCC;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
	padding-left: 10px;
	color: #666666;
}

.reserved {
	background-color: #FA8072;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
	padding-left: 10px;
	color: #333333;
}