/* INPUTS - TEXT, COMBO */
.inputCommon, .textCommon{
	font-family: Gill, Helvetica, sans-serif; 
	font-size: 13px;
	color: #333333;
	font-weight: bold;
}

.textCommon{
	font-size: 17px;
}

/* BOTOES */

.fontButton, .fontButtonPressed {
	font-family: Gill, Helvetica, sans-serif; 
	font-size: 13px;
	font-weight: bold;
	color: #F5F5F5;
}

.fontButtonPressed {
	padding-left: 2px;
	padding-top: 2px;
}

.imgButton, .imgButtonPressed {
	width: 20px;
	height: 20px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.imgButtonPressed{
	padding-top: 1px;
	padding-right: 9px;
	padding-bottom: 4px;
	padding-left: 11px;
}

/* CLASSE PAI */
.button, .buttonNormal, .buttonHover {
	border: 2px solid #222222;
	cursor: pointer;
	border-radius:7px;
	box-shadow: 2px 2px 3px #333333;
}

/* EFEITO ONMOUSEOUT */
.buttonNormal {
	background: -ms-linear-gradient(89deg, #777777, #333333);
	background: -webkit-linear-gradient(89deg, #777777, #333333);
}

/* EFEITO ONMOUSEOVER */
.buttonHover {
	background: -ms-linear-gradient(89deg, #333333, #777777);
	background: -webkit-linear-gradient(89deg, #333333, #777777);
}

/* EFEITO ONMOUSEDOWN */
.buttonPressed {
	border:2px solid #222222;
	background-color: #333333;
	cursor:pointer;
	border-radius:7px;
}

/* BORDA DA TELA */
.dvborder {
	padding:5px;
	background-color:#F5F5F5;
	border-radius: 15px;
}

/* CSS PARA A GRID */
.dvList {
	background-color: #F5F5F5;
	top: 0px;
	left: 0px;
	overflow-y: scroll;
	overflow-x: auto;
}

.tableList {
	width: 100%;
	font-family: Gill, Helvetica, sans-serif;
	padding-top: 33px;
}

.titleTd {
	border-left: 1px solid #555555;
	background-color: #333333;
	padding-left:8px;
	height: 35px;
}

.titleFont {
	color: #F5F5F5;
	font-weight: bold;
}

.regTr {
	cursor: pointer;
	background-color: #F5F5F5;
	height: 35px;
}

.regTd {
	border-left: 1px solid #F5F5F5;
	padding-left: 8px;
	border-bottom: 1px solid #DDDDDD;
}

.regFont {
	color: #333333;
}

.footer {
	background-color: #333333;
	font-family: Gill, Helvetica, sans-serif;
	height: 35px;
	position: relative;
	bottom: 0px;
}

.footerFont {
	font-weight: bold;
	font-family: Gill, Helvetica, sans-serif;
	color: #F5F5F5;
	position: absolute;
	right: 15px;
	top: 8px;
}